.crew-page {
  width: 357px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.2rem;
}

.crew-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.crew-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.crew-section span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  opacity: 0.25;
}

.crew-section h4 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
}

.role {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}

.role span {
  font-family: Bellefair;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
}

.role h3 {
  text-align: center;

  font-family: Bellefair;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.bio {
  text-align: center;
  min-height: 164px;
}

.bio p {
  color: var(--color-blue-300, #d0d6f9);
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 27px */
}

nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.crew-nav .active {
  opacity: 1;
}

.crew-nav {
  margin-bottom: 1.2rem;
}

.crew-nav button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.17;
  background-color: white;
}

.img {
  margin: 0 auto;
}

.img img {
  width: 271.27px;
  height: 340px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .crew-page {
    min-width: 80%;
    gap: 2rem;
  }

  .crew-title {
    width: 100%;
    align-items: center;
    gap: 3rem;
  }

  .crew-section {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    align-self: start;
    margin-bottom: 2rem;
  }

  .crew-section span {
    font-family: "Barlow Condensed";
    font-size: 22px;
    letter-spacing: 3px;
    opacity: 0.25;
  }

  .crew-section h4 {
    font-family: "Barlow Condensed";
    line-height: normal;
    letter-spacing: 3px;
    font-size: 24px;
  }

  .role {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .role span {
    font-size: 30px;
  }

  .role h3 {
    font-size: 50px;
  }

  .bio {
    text-align: center;
    width: 512px;
  }

  .bio p {
    font-family: Barlow;
    font-size: 20px;
  }

  .crew-nav button {
    width: 15px;
    height: 15px;
  }
  .img img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
}

@media (min-width: 1024px) {
  .crew-page {
    flex-direction: row;
    margin-top: 0%;
    gap: 0;
  }

  .crew-title {
    align-items: start;
  }

  .crew-section{
    margin-bottom: 8%;
  }

  .role{
    align-items: start;
  }

  .bio{
    align-items: start;
    text-align: start;
  }

  .img{
    align-self: flex-end;
  }

  .crew-nav{
    margin-top: 10%;
  }
}
