

.dest {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20.4375rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  gap: 2rem;
}

.dest header {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.dest header div {
  display: flex;
  gap: 1rem;
}

.dest header span {
  font-family: "Barlow Condensed";
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15rem;
  opacity: 0.25;
}

.dest header h4 {
  color: var(--color-white, #fff);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Barlow Condensed";
  line-height: normal;
  letter-spacing: 0.15rem;
}

.dest .explanation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  
}

.dest .explanation nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  gap: 2rem;
  height: 2.5rem;
}
.dest .explanation button {
  width: fit-content;

}

.dest .explanation nav .active{
  border-bottom: 0.3rem solid white;

}

.dest .explanation .planetName-container h2 {
  text-align: center;
  font-family: Bellefair;
  font-size: 3.5rem;
  line-height: normal;
  text-transform: uppercase;
}

.dest .explanation .planet-description-container p {
  color: var(--color-blue-300, #d0d6f9);
  text-align: center;
  font-family: Barlow;
  font-size: 0.9375rem;
  font-style: normal;
  line-height: 180%;
}

.dest .explanation .planetsStats-container {
  border-top: 0.0625rem solid var(--color-blue-300, #d0d6f9);
}

.distance,
.travelTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dest .explanation .planetsStats-container .distance span,
.dest .explanation .travelTime span {
  color: var(--color-blue-300, #d0d6f9);
  font-family: "Barlow Condensed";
  font-size: 0.875rem;
  letter-spacing: 0.125rem;
}

.dest .explanation .planetsStats-container .distance p,
.dest .explanation .travelTime p {
  color: var(--color-white, #fff);
  text-align: center;
  font-family: Bellefair;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.dest .explanation .planetsStats-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.2rem;
}






@media (min-width: 48rem) {
 /* Tablet */

  /* //////////////// */
  .dest {
    min-width: 90vw;
    margin-top: 5rem;
    gap: 4rem;
  }
  /* ////////////////// */
  .dest header {
    gap: 4rem;
    width: 100%;
    padding-bottom: 5rem;
  }
  .dest header .img-container{
  }

  .dest header .img-container img{
    min-width: 300px;
  }
  .dest header .des-title {
    width: 100%;
  }
  .dest header span {
    font-size: 1.25rem;
  }

  .dest header h4 {
    gap: 2rem;
    font-size: 1.5rem;
  }

  .dest header div .img {
    width: 360px;
    height: 350px;
    
  }
  /* ///////////////////// */
  .dest .explanation {
    max-width: 32.125rem;
    gap: 3rem;
    margin-bottom: 0.625rem;
    align-items: center;
  }

  .dest .explanation nav {
    width: 25rem;
    text-align: center;
    gap: 2rem;
  }

  .dest .explanation nav button {
    width: 12.5rem;
    flex: 0;
  }

  .dest .explanation .planetName-container h2 {
    font-size: 5rem;
  }

  .dest .explanation .planet-description-container p {
    font-size: 1.125rem;
  }

  .dest .explanation .planetsStats-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
  }
}

@media(min-width: 64rem) {
  .bg{
    background: url('../assets//dest/background-dest-desktop.jpg') no-repeat center center/cover;
    width: 100vw;
  }

  .dest{
    flex-direction: row;
    min-width: 62.5rem;
  }

  .dest .explanation{
    max-width: 27.8125rem;
    align-items: flex-start;
    gap: 2rem;
  }

  .dest .explanation nav{
    margin-left: 0;
  }

  .dest .explanation .planet-description-container p{
    text-align: left;
  }

  .dest .explanation .planetsStats-container .distance,
  .dest .explanation .travelTime{
      gap: 1rem;    
  }

}
