.home-container {
  max-width: 327px;
  margin: 0 auto;
  max-height: 676px;
  margin-top: 60px;
}

.home-container .home-article1 .home-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #d0d6f9;
  font-family: "Barlow Condensed";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
}

.home-container .home-article1 .home-h1 .home-h1-span {
  font-family: Bellefair;
  font-size: 5rem;
  color: white;
  padding: 10px 0 10px 0;
}

.home-container .home-article1 .home-p {
  color: #d0d6f9;
  text-align: center;
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.home-container .home-article2 {
  max-width: 540px;
  text-align: center;
  padding: 100px;
}

.home-container .home-article2 .home-button {
  width: 144px;
  height: 144px;
  border-radius: 999px;
  background: white;
  color: #0b0d17;
  font-family: Bellefair;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  
}

.home-container .home-article2 .home-button a {
    color: #0b0d17;
    text-decoration: none;
}


/* Tablets */
@media (min-width: 768px) {

  .home{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-container{
    margin-right: 40%;
  }

  .home-container .home-article1{
    width: fit-content;

  }
  .home-container .home-article1 .home-h1{
    font-size: 28px;
    letter-spacing: 4px;
  }

  .home-container .home-article1 .home-h1 .home-h1-span{
    font-size: 144px;
  }

  .home-container .home-article1 .home-p{
    font-size: 16px;
    width: 512px;
  }

  .home-container .home-article2 .home-button{
    width: 272px;
height: 272px;
font-size: 32px;
  }
}