

.home-container {
  max-width: 20.4375rem;
  margin: 0 auto;
  max-height: 42.25rem;
  margin-top: 4.5em;
}

.home-container .home-article1 .home-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #d0d6f9;
  font-family: "Barlow Condensed";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15rem;
}

.home-container .home-article1 .home-h1 .home-h1-span {
  font-family: Bellefair;
  font-size: 5rem;
  color: white;
  padding: 0.625rem 0 0.625rem 0;
}

.home-container .home-article1 .home-p {
  color: #d0d6f9;
  text-align: center;
  font-family: Barlow;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.home-container .home-article2 {
  max-width: 33.75rem;
  text-align: center;
  padding: 6.25rem;
}

.home-container .home-article2 .home-button {
  width: 9rem;
  height: 9rem;
  border-radius: 999px;
  background: white;
  color: #0b0d17;
  font-family: Bellefair;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  
}

.home-container .home-article2 .home-button a {
    color: #0b0d17;
    text-decoration: none;
}


/* Tablets */
@media (min-width: 48rem) {

  .home{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-container{
    margin-right: 40%;
  }

  .home-container .home-article1{
    width: fit-content;

  }
  .home-container .home-article1 .home-h1{
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
  }

  .home-container .home-article1 .home-h1 .home-h1-span{
    font-size: 9rem;
  }

  .home-container .home-article1 .home-p{
    font-size: 1rem;
    width: 32rem;
  }

  .home-container .home-article2 .home-button{
    width: 17rem;
    height: 17rem;
    font-size: 2rem;
  }
}

/* Desktops */

@media(min-width:64rem){
  .home-container{
    flex-direction: row;
    display: flex;
    margin-right: 65%;
    margin-top: 12.5rem;
    gap: 18%;
  }

  .home-container .home-article1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .home-container .home-article1 .home-h1{
    text-align: left;
  }

  .home-container .home-article1 .home-p{
    text-align: left;
  }

  .home-container .home-article2 .home-button{
    position: relative;
    bottom: 3rem;
  }
}