.destinations-overlay {
  width: 100vw;
  height: 115vh;
  background: url("../assets//destination/background-destination-mobile.jpg")
    no-repeat center center/cover;
}

.Destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative;
  top: 100px;
}

.Destinations h3 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  display: flex;
  gap: 20px;
}

.Destinations h3 span {
  color: var(--color-white, #fff);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Barlow Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  opacity: 0.25;
}

.Destinations img {
  width: 228.539px;
  height: 228.539px;
}

.Destinations .explanations {
  width: 327px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Destinations .explanations .planets-nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 32px;
}

.Destinations .explanations .planets-nav a {
  font-family: "Barlow Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.1px;
}

.Destinations .explanations h1 {
  color: var(--color-white, #fff);
  text-align: center;
  font-family: "Bellefair";
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.Destinations .explanations p {
  color: var(--color-blue-300, #d0d6f9);
  text-align: center;
  font-family: "Barlow";
  font-size: 15px;
  font-weight: 400;
  line-height: 180%; /* 27px */
}

.Destinations .explanations hr {
  opacity: 0.25;
  background: var(--color-white, #fff);
  width: 100%;
}

.Destinations .explanations .travel-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.Destinations .explanations .travel-time .travel,
.Destinations .explanations .travel-time .time {
  display: flex;
  flex-direction: column;
}

.Destinations .explanations .travel-time span {
  color: var(--color-blue-300, #d0d6f9);
  text-align: center;
  font-family: "Barlow Condensed";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.Destinations .explanations .travel-time p {
  color: var(--color-white, #fff);

  font-family: Bellefair;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

@media (min-width: 1000px) {
  .destinations-overlay {
    width: 100vw;
    height: 115vh;
    background: url("../assets//destination/background-destination-desktop.jpg")
      no-repeat center center/cover;
  }

  .Destinations {
    display: flex;
    flex-direction: row;
    top: 200px;
    gap: 44px;
    border: solid 1px red;
  }

  .explanations {
    border: solid 1px blue;
  }
  .Destinations div img {
    width: 480px;
    height: 480px;
    border: solid 1px green;
  }

  .Destinations .explanations h1 {
    text-align: left;
    font-size: 96px;
    font-weight: 400;
    line-height: normal;
  }

  .Destinations .explanations p {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; /* 32.4px */
  }

    .Destinations .explanations .travel-time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 44px;
    }
}
