.technology-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url("../assets//technology/background-technology-mobile.jpg")
    no-repeat center center/cover;
  z-index: -4;
}

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2.5rem;
}

.tech-header {
  display: flex;
  gap: 1rem;
}

.tech-header span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  opacity: 0.25;
}

.tech-header h3 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
}

.tech-img {
  width: 400vw;
  height: 250px;
}

.tech-nav {
  display: flex;
  max-width: 514px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tech-nav button {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background: transparent;
  color: white;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Bellefair;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: solid 1px white;
  position: relative;
  z-index: 1;
}

.tech-nav button.active {
  background: white;
  color: black;
  text-align: center;
}

.tech-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 372px;
}

.tech-info h3 {
  opacity: 0.5042;
  font-family: Bellefair;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tech-info h2 {
  font-family: Bellefair;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.tech-info p {
  color: var(--color-blue-300, #d0d6f9);
  font-family: Barlow;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-align: center;
}

/* Tablet******************************************************/
@media (min-width: 768px) {
  .technology {
    width: 688px;
    height: 800px;
    margin: 50px auto;
    gap: 4rem;
  }

  .techSection {
    display: flex;
    width: 100%;
  }
  .tech-header {
    align-self: flex-start;
  }

  .tech-header span {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
  }

  .tech-header h3 {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
  }

  .tech-nav button {
    display: flex;
    width: 56px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tech-info{
    min-width: 512px;
  }

  .tech-info h3 {
    font-size: 24px;
    width: 100%;
    text-align: center;
  }

  .tech-info h2 {
    font-size: 40px;
    font-weight: 400;
  }

  .tech-info p {
    font-size: 1rem;
    width: 512px;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
  }

  .tech-img-section {
    width: 100vw;
  }

  .tech-tablet-desktop {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .technology {
    border: solid 4px red;
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 100%;
  }
}
