

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2.5rem;
}

.tech-header {
  display: flex;
  gap: 1rem;
}

.tech-header span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15rem;
  opacity: 0.25;
}

.tech-header h3 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15rem;
}

.tech-img {
  width: 400vw;
  height: 15.625rem;
}

.tech-nav {
  display: flex;
  max-width: 32.125rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tech-nav button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999px;
  background: transparent;
  color: white;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Bellefair;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: solid 0.0625rem white;
  position: relative;
  z-index: 1;
}

.tech-nav button.active {
  background: white;
  color: black;
  text-align: center;
}

.tech-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 23.25rem;
}

.tech-info h3 {
  opacity: 0.5042;
  font-family: Bellefair;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tech-info h2 {
  font-family: Bellefair;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.tech-info p {
  color: var(--color-blue-300, #d0d6f9);
  font-family: Barlow;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-align: center;
}

/* Tablet******************************************************/
@media (min-width: 768px) {

  .technology-bg{
    background: url("../assets//technology/background-technology-tablet.jpg") no-repeat center center/cover  ;
  }

  .technology {
    width: 43rem;
    height: 50rem;
    margin: 3.125rem auto;
    gap: 4rem;
  }

  .techSection {
    display: flex;
    width: 100%;
  }
  .tech-header {
    align-self: flex-start;
  }

  .tech-header span {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1875rem;
  }

  .tech-header h3 {
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
  }

  .tech-nav button {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tech-info{
    min-width: 32rem;
  }

  .tech-info h3 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .tech-info h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .tech-info p {
    font-size: 1rem;
    width: 32rem;
    font-weight: 400;
    line-height: 180%; /* 1.8rem */
  }

  .tech-img-section {
    border: solid 0.25rem red;
  }

  .tech-tablet-desktop {
    width: 100%;
  }
}

@media (min-width: 1024px) {
 .technology-bg{
  background: url("../assets//technology/background-technology-desktop.jpg") no-repeat center center/cover  ;
 }
 
  .technology {
    border: solid 0.25rem red;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 80%;
    position: relative;
  }

  .techSection{
    position: absolute;
    top: 0;
  }

  .tech-nav{
    flex-direction: column;
  }

  .tech-info h3{
    text-align: left;
  }

  .tech-info h2{
    text-align: left;
    width: 100%;
  }

  .tech-info p{
    text-align: left;
  }

  .tech-img-section{
    order: 4;
  }

  .tech-tablet-desktop{
    width: 37.5rem;
    height: 37.5rem;
  }
}
