.technology-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 8%;
}

.tech-tablet-desktop {
  display: none;
}

.tech-header {
  display: flex;
  gap: 1rem;
}

.tech-header span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15rem;
  opacity: 0.25;
}

.tech-header h3 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15rem;
}

.tech-img {
  width: 400vw;
  height: 15.625rem;
}

.tech-nav {
  display: flex;
  max-width: 32.125rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tech-nav button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999px;
  background: transparent;
  color: white;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Bellefair;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: solid 0.0625rem white;
  position: relative;
  z-index: 1;
}

.tech-nav button.active {
  background: white;
  color: black;
  text-align: center;
}

.tech-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 23.25rem;
}

.tech-info h3 {
  opacity: 0.5042;
  font-family: Bellefair;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tech-info h2 {
  font-family: Bellefair;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.tech-info p {
  color: var(--color-blue-300, #d0d6f9);
  font-family: Barlow;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-align: center;
  max-width: 95%;
  padding: 1rem;
}

/* Tablet******************************************************/
@media (min-width: 768px) {
  .technology-page {
    width: 43rem;
    height: 50rem;
    margin: 3.125rem auto;
    gap: 3rem;
  }

  .tech-tablet-desktop {
    display: block;
  }

  .tech-img {
    display: none;
  }

  .techSection {
    display: flex;
    width: 100%;
  }
  .tech-header {
    align-self: flex-start;
  }

  .tech-header span {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1875rem;
  }

  .tech-header h3 {
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
  }

  .tech-nav button {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tech-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 527px;
  }

  .tech-info h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .tech-info h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .tech-info p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 190%;
    width: 527px;
  }

  .tech-img-section {
    width: 100vw;
  }

  .tech-tablet-desktop {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .technology-page {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
    position: relative;
  }

  .tech-header {
    margin-left: 10%;
  }

  .techSection {
    position: absolute;
    top: 0;
  }

  .tech-nav {
    flex-direction: column;
  }
  .tech-info {
    align-items: start;
  }

  .tech-info h3 {
    text-align: left;
  }

  .tech-info h2 {
    text-align: left;
    width: 100%;
  }
  .tech-info p {
    text-align: left;
    align-self: start;
  }
  .tech-tablet-desktop {
    width: 608px;
  }

  .tech-img-section {
    order: 4;
    margin-bottom: 9%;
  }

  .tech-tablet-desktop {
    display: none;
    
  }
  .tech-img {
    display: block;
    width: 608px;
    height: 1%;
  }

  .tech-nav {
    margin-left: 160px;
  }
}
