.header {
  margin-top: 0.625rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

hr{
  display: none;
}

.header .navbar {
  display: none;
}

.header .logo-container .nav-line {
  display: none;
}
.header .open {
  display: block;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 75%;
  padding-left: 1.0rem;
  background: rgba(11, 13, 23, 0.15);
  backdrop-filter: blur(40px);
  height: 100%;
  z-index: 100;
}

.header .open ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  top: 2px;
  list-style: none;
}



.header .open ul li .active{
width: 100rem;
border-right: solid 0.5rem #ffff;
padding-right: 10px;
}

.header .open ul li a {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.header .open ul button {
  background-color: transparent;
  border: none;
  align-self: flex-end;
}

.header .open ul button .x-button {
  background-color: transparent;
  width: 3.125rem;
  height: 3.125rem;
  color: white;
}

.header .open ul li a {
  color: var(--color-white, #fff);
  font-family: "Barlow Condensed";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
}

.header .open ul li span {
  color: white;
  font-family: "Barlow Condensed";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16875rem;
}

.header .menu-container button {
  background-color: transparent;
  border: none;
}

.header .menu-container button .menu {
  color: white;
  width: 3.125rem;
  height: 3.125rem;
  margin-left: 10rem;
}

/* TABLET */
@media (min-width: 768px)  {
  .header {
    display: flex;
    bottom: 8px;

  }

  .logo-container{
    margin-left: 20px;
  }

  .header .navbar {
    display: block;
    position: relative;
    left: 5.6rem;
    max-height: 100px;
    width: 80%;
    
  }

  .header .menu-container button .menu {
    display: none;
  }

  .x-button {
    display: none;
  }

  .header .navbar ul {
    display: flex;
    gap: 60px;
    min-width: 488px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
  }

   .active{
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0.27rem;
    border-bottom: 3px solid #ffff;
  }

  

  li{
    height: 100px;
    display: flex;
    align-items: center;
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
  .header {
    display: flex;
    bottom: 8px;
   
  }
  hr{
    display: block;
    position: absolute;
    width: 400px;
    left: 12rem;
    border: 0.5px solid #ffff;
    z-index: 100;
    opacity: 0.25;
  }

  .header .navbar {
    width: 60%;
    left: 15rem;
  }

  .header .navbar ul{
    justify-content: space-evenly;
  }

  .header .menu-container button .menu {
    display: none;
  }

   
  

  

  

 
}


