.header {
  margin-top: 0.625rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.header .navbar {
  display: none;
}

.header .logo-container .nav-line {
  display: none;
}
.header .open {
  display: block;
  background-color: white;
  position: absolute;
  right: 0;
  width: 75%;
  padding-left: 2rem;
  background: rgba(11, 13, 23, 0.15);
  backdrop-filter: blur(40px);
  height: 94.7rem;
}

.header .open ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  top: 45.625rem;
  list-style: none;
}

.header .open ul li a {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.header .open ul button {
  background-color: transparent;
  border: none;
  align-self: flex-end;
}

.header .open ul button .x-button {
  background-color: transparent;
  width: 3.125rem;
  height: 3.125rem;
  color: white;
}

.header .open ul li a {
  color: var(--color-white, #fff);
  font-family: "Barlow Condensed";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
}

.header .open ul li span {
  color: white;
  font-family: "Barlow Condensed";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16875rem;
}

.header .menu-container button {
 background-color: transparent;
  border: none;
}

.header .menu-container button .menu {
  color: white;
  width: 3.125rem;
  height: 3.125rem;
  margin-left:10rem ;
}

