

 .home{
    min-width: 100vw;
    min-height: 99vh;
    background: url('./assets/home/background-home-mobile.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
 }
.destination{
    width: 100%;
    min-height: 100vh;
    background: url('./assets/destination/background-destination-mobile.jpg') no-repeat center center/cover;
 }
.crew{
    width: 100%;
    min-height: 100vh;
    background: url('./assets/home/background-home-mobile.jpg') no-repeat center center/cover;
 }
.technology{
    width: 100%;
    min-height: 100vh;
    background: url('./assets/home/background-home-mobile.jpg') no-repeat center center/cover;
 }


 @media screen and (min-width: 768px) {

    .home{  
      background: url('./assets/home/background-home-tablet.jpg') no-repeat center center/cover;
    }

   

   
 }

 @media screen and (min-width: 1024px) {
   .home{
      background: url('./assets/home/background-home-desktop.jpg') no-repeat center center/cover;
   }
 }
