

 .home{
    min-width: 100vw;
    min-height: 100vh;
    background: url('./assets/home/background-home-mobile.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
 }

 .destination{
   min-width: 100vw;
   min-height: 100vh;
   background: url('./assets/destination/background-destination-mobile.jpg') no-repeat center center/cover;
   display: flex;
   flex-direction: column;
 }

 .crew{
  min-width: 100vw;
   min-height: 100vh;
   background: url('./assets/crew/background-crew-mobile.jpg') no-repeat center center/cover;
   display: flex;
   flex-direction: column;
 }




 @media screen and (min-width: 768px) {

    .home{  
      background: url('./assets/home/background-home-tablet.jpg') no-repeat center center/cover;
    }

    .destination{
      background: url('./assets/destination/background-destination-tablet.jpg') no-repeat center center/cover;
    }

    .crew{
      background: url('./assets/crew/background-crew-tablet.jpg') no-repeat center center/cover;
    }

    


   

   
 }

 @media screen and (min-width: 1024px) {
   .home{
      background: url('./assets/home/background-home-desktop.jpg') no-repeat center center/cover;
   }
 }
