@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "barlow", sans-serif;
  font-size: 16px;
}

/* HEADER // NAVBAR STYLES */
/* HEADER // NAVBAR STYLES */
/* HEADER // NAVBAR STYLES */
.header {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.header .navbar {
  display: none;
}

.header .open {
  width: 70vw;
  display: block;
  position: absolute;
  z-index: 1;
  left: 30%;
  height: 102vh;
  background: rgba(11, 13, 23, 0.15);
  backdrop-filter: blur(40px);
  top: 0;
}
.header nav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 60px;
}

.x-button {
  color: #fff;
  width: 54px;
  height: 54px;
  position: absolute;
  left: 80%;
  top: 25px;
}

.header nav ul li {
  margin-left: 32px;
  font-family: "Barlow Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
}

.menu {
  color: #fff;
  width: 54px;
  height: 54px;
}

@media (min-width: 1024px) {
  .menu {
    display: none;
  }

  .x-button {
    display: none;
    position: static;
  }
  .header .navbar {
    display: flex;
    position: relative;
    left: 21%;
    border: solid 1px #d0d6f9;
    padding: 0px var(--spacing-800, 64px);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
  }
  .header .navbar ul {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 24px;
  }

  .header {
    align-items: center;
  }
}

/* Home Page styless */
/* Home Page styless */
/* Home Page styless */

.home {
  display: flex;
  justify-content: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  gap: 2rem;
}

.home-h1-span {
  font-family: "Bellefair", serif;
  font-size: var(--font-size-mobile-text-preset-1, 80px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home .overlay .home-article1 p {
  color: #d0d6f9;
  text-align: center;
  width: 327px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 27px */
}

/* Home Page media Quieries Tablet */
/* @media (min-width: 768px) {
  .home {
    background: url("./assets//home/background-home-desktop.jpg") no-repeat
      center center/cover;
  }
} */

/* Home Page media Quieries Desktop */
@media (min-width: 1024px) {
  .home .overlay {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 1110px;
    height: fit-content;
    margin-top: 22%;
    margin-left: 10%;
    justify-content: space-between;
  }

  .home .overlay .home-article1 {
    width: 570px;
  }

  .home .overlay .home-article1 h1 {
    color: var(--color-blue-300, #d0d6f9);
    font-feature-settings: "liga" off, "clig" off;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;
  }

  .home .overlay .home-article1 .home-h1-span {
    font-size: 144px;
  }

  .home .overlay .home-article1 p {
    font-family: "barlow", sans-serif;
    font-weight: 400;
    line-height: 32.4px;
    color: #d0d6f9;
    text-align: left;
    width: 540px;
    font-family: "Barlow";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 32.4px */
  }

  .home .overlay .home-article2 button {
    width: 272px;
    height: 272px;
  }

  .home .overlay .home-article2 button a {
    color: var(--color-blue-900, #0b0d17);
    font-family: "Bellefair";
    font-size: 32px;
    font-weight: 400;
  }
}
