@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "barlow", sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
}

/* HEADER // NAVBAR STYLES */
/* HEADER // NAVBAR STYLES */
/* HEADER // NAVBAR STYLES */
.header {
  position: absolute;
  padding: 25px;
}

.header .navbar{
  background-color: black;
  width: 100vw;
  position: absolute;
}

.header .navbar ul li {
  margin: 40px ;
}

/* Home Page styless */
/* Home Page styless */
/* Home Page styless */
.home {
  background: url("./assets//home/background-home-mobile.jpg") no-repeat center
    center/cover;
  height: calc(100vh);
  display: flex;
  justify-content: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh + 1px);
  text-align: center;
  gap: 2rem;
}

.home-h1-span {
  font-family: 'Bellefair', serif;
  font-size: var(--font-size-mobile-text-preset-1, 80px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home .overlay .home-article1 p {
  color: #d0d6f9;
  text-align: center;
  width: 327px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 27px */
}


/* Home Page media Quieries Tablet */
@media (min-width: 768px) {
  .home {
    background: url("./assets//home/background-home-desktop.jpg") no-repeat
      center center/cover;
  }
}

/* Home Page media Quieries Desktop */
@media (min-width: 1024px) {
  .home .overlay {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 1110px;
    height: fit-content;
    margin-top: 22%;
    margin-left: 10%;
    justify-content: space-between;
  }

  .home .overlay .home-article1 {
    width: 570px;
  }

  .home .overlay .home-article1 h1 {
    color: var(--color-blue-300, #d0d6f9);
    font-feature-settings: "liga" off, "clig" off;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;
  }

  .home .overlay .home-article1 .home-h1-span {
    font-size: 144px;
  }

  .home .overlay .home-article1 p {
    font-family: "barlow", sans-serif;
    font-weight: 400;
    line-height: 32.4px;
    color: #d0d6f9;
    text-align: left;
    width: 540px;
    font-family: "Barlow";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 32.4px */
  }

  .home .overlay .home-article2 button {
    width: 272px;
    height: 272px;
  }

  .home .overlay .home-article2 button a {
    color: var(--color-blue-900, #0b0d17);
    font-family: "Bellefair";
    font-size: 32px;
    font-weight: 400;
  }
}
