@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'barlow', sans-serif;
  font-size: 18px;
}
.header{
  position: absolute;
}

.overlay{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh + 1px);
  text-align: center;
}

.home{
  background: url('./assets//home/background-home-mobile.jpg') no-repeat center center/cover;
  height: calc(100vh + 1px);
}

@media (min-width: 768px){
  .home{
    background: url('./assets//home/background-home-desktop.jpg') no-repeat center center/cover;
  }
}

@media (min-width: 1024px){
  .home .overlay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    text-align: left;
   
  }

  .home .overlay article{
    width:540px;
  }
}